modules = ["nodejs-20", "postgresql-16"]
[nix]
channel = "stable-25_05"
packages = ["unzip"]

[agent]
expertMode = true

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 8081

[[ports]]
localPort = 25692
externalPort = 80
